#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.meme-container {
  position: relative;
  display: inline-block;

}

.meme-image {
  width: 100%;
  height: auto;
}

.meme-text {
  position: absolute;
  font-family: "Impact", sans-serif;
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 4px black;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  overflow: hidden;
}

.top-text {
  top: 10px;
}

.bottom-text {
  bottom: 10px;
}

.active {
  background-color: yellow;
}
